.bg-main {
    background-color: #f3eaf1;
}
a:hover, a:visited, a:link, a:active {
    text-decoration: none;
    color: black;
}
.card {
    border: none;
    padding: 5px;
}
.card-img-top {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.card-body {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}